[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
boto3 = "*"
pytest = "*"
svix-ksuid = "*"
uvicorn = "*"
httpx = "*"
pydantic = {version = "==1.10.0", extras = ["dotenv"]}

[dev-packages]
black = "*"
moto = "*"

[requires]
python_version = "3.10"
